* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zen Maru Gothic", sans-serif;
  list-style: none;
  text-decoration: none;
}

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}
body {
  background: rgb(242, 237, 237);
  height: 100vh;
}

.logo {
  font-size: 45px;
  font-weight: 600;
  color: rgb(221, 36, 36);
}

.navlist {
  display: flex;
  opacity: 0;
  animation: slideTop 1.5s ease forwards;
}

.navlist a {
  margin-left: 60px;
  color: rgb(221, 36, 36);
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease;
}
.navlist a:hover {
  border-bottom: 2px solid rgba(51, 239, 205, 0.859);
}
#menu-icon {
  color: rgb(221, 36, 36);
  z-index: 1001;
  cursor: pointer;
  display: none;
}
.love {
  height: 100%;
  width: 100%;
  min-height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.image img {
  width: 700px;
  height: auto;
  opacity: 0;
  animation: zoomIn 1.5s ease forwards;
}
section {
  padding: 130px;
}
div.love-content {
  opacity: 0;
  animation: slideTop 1s ease forwards;
}

.love-content h1 {
  font-size: 2rem;
  color: rgb(221, 36, 36);
  margin-bottom: 10px;
}
.love-content h3 {
  font-size: 1.3rem;
}
.love-content p {
  margin-bottom: 30px;
}

.love-content a {
  display: inline-block;
  font-size: 20px;
  color: rgb(123, 220, 202);
  background-color: none;
  border-radius: 30px;
  border: 2px solid rgb(221, 36, 36);
  padding: 10px 25px;
  text-transform: uppercase;
  transition: all 0.55s ease;
}
.love-content a.donate {
  margin-left: 25px;
  background-color: rgb(221, 36, 36);
}

.love-content a:hover {
  background-color: rgb(221, 36, 36);
  transform: translateX(5px);
}

.love-content a.donate i {
  vertical-align: middle;
  margin-right: 8px;
}
.icons {
  position: absolute;
  right: 5%;
  top: 20%;
  height: 200px;
  opacity: 0;
  animation: slideTop 1.5s ease forwards;
}
.icons i {
  display: block;
  margin-top: 20px;
  font-size: 1.5rem;
  color: rgb(221, 36, 36);
  transition: all 0.3s ease;
}
.icons i:hover {
  color: rgb(123, 220, 202);
  transform: translateY(-5px);
}
/* keyframs */
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(1.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
